.sticky {
	display: block;
	position: relative;
}

.cat-links{
	font-size: 90%;
	font-weight: 700;

	a{
		text-decoration: none;
		text-transform: uppercase;
		color: $color__4;

		&:focus,
			&:hover{
			background-color: $color__4;
			color: white;
		}
	}
}

.entry-title{
	margin: .125em 0 .25em;
	font-size: 2.5em;

	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}

	a {
		text-decoration: none;



		&:focus,
			&:hover{
			border-bottom: 5px solid $color__4;
			color: black;
		}
	}
}
.entry-meta{
	font-size: 90%;

	a{
		font-weight: 700;
		text-decoration: none;
		color: black;

		&:focus,
			&:hover{
			color:black;
			border-bottom: 3px solid $color__4;

		}
	}
}

.byline{
	&::after{
		content: "|";
		margin: 0 .5em;
	}
}

.comments-link,
.edit-link{
	&::before{
		content: "|";
		margin: 0 .5em;
	}
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Single Post Featured Images */

.full-bleed {
	width: 100vw;
	max-height: 1000px;

	margin-right: calc( ((-100vw + #{$size__site-main})/2) );
	margin-left: calc( ((-100vw + #{$size__site-main})/2) );

	border-top: 1px solid hsl(0, 0%, 90%);
	border-bottom: 1px solid hsl(0, 0%, 90%);
	overflow: hidden;

	img {
		display: block;
		margin: 0 auto;
	}
}