.site-footer {
  position: relative;
  padding: 3em;
  font-family: $font__text;
  color: white;
  background-color: $color__skin;

  @media screen and (min-width: $query__medium) {
    padding: 3em 10em 3em 10em;
  }

  a {
    display: inline-block;
    padding: .5em 1em;
    color: white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site-info {
  text-align: center;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  display: block;
}

.footer-links {
  ul {
    list-style: none;
    margin: -1em;
    padding: 0;
  }
}