.header-image {
	position: relative;
	max-height: 60vw;
	overflow: hidden;

	img {
		display: block;
		width: 100vw;
	}
}

.site-header {
	position: relative;
	padding: 2em;
	font-family: $font__text;
	color: white;
	background-color: $color__skin;
	flex-wrap: wrap;

	@media screen and (min-width: $query__small) {
		padding: 2em 3em;
	}
}

.site-branding {
	display: flex;
	min-height: 100px;
}

.custom-logo {
	min-width: 100px;
	img {
		display: block;
	}
}

.site-branding__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	margin-left: 2em;
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 2em;
	line-height: 1em;

	a {
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0;
	font-size: 1em;
	font-style: italic;
	font-weight: 100;
	color: white;
}

@media screen and (min-width: $query__small) {
	.site-header {
		display: flex;
		justify-content: space-between;
	}

	.site-branding {
		width: 100%;
		flex: 1 0 auto;
	}
}

.header-image-overlay {
	position: absolute;
	top: 12.5%;
	left: 0;
	width: 80%;
	height: 75%;
	background: hsl(0, 0%, 0%, 0);

	@media screen and (min-width: $query__medium) {
		background: hsl(0, 0%, 0%, .5);
	}
}

.header-image-group {
	position: absolute;
	text-align: left;
	line-height: .5em;
	top: 50%;
	transform: translate(0, -75%);
	margin-left: 3%;
	color: hsl(0, 0%, 0%, 0);

	@media screen and (min-width: $query__medium) {
		color: white;
	}
}

.action-button {
	position: absolute;
	font-family: $font__text;
	margin-top: 1em;


	a {
		padding: 1em 1em;
		text-decoration: none;
		color: white;
		background: $color__2;

		&:focus,
		&:hover {
			color: white;
			background: $color__4;
		}
	}

}