$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__interactive: #b51c35;

$color__text-screen: #000;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// custom colors
$color__skin: #df8d43; // header
$color__1: #e6d7d1;
$color__2: #0e0809;
$color__3: #f7b84d;
$color__4: #415e79;

// links colours
$color__link: $color__4;
$color__link-visited: $color__4;
$color__link-hover: $color__3;
$color__text-main: $color__2;